/* Sidebar.css */
.sidebar {
  padding: 10;
  background-color: rgba(173, 170, 163, 0.5);
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
}

.label-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin-right: 10px;
}

.input-sidebar {
  flex: 1;
  max-width: 50%;
  min-width: 50%;
}

select {
  max-width: 50%;
  min-width: 50%;
}

button {
  margin-top: 10px;
}

.sidebar-Buttons {
  display: flex;
  justify-content: center;
}