.converter {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .converter {
        width: auto;
        max-width: 90%;
    }
}

.line-number-text-area-container {
    display: inline-grid;
    grid-template-columns: 3em auto;
    gap: 10px;
    background: rgb(40 42 58);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    min-width: 90%;
    min-height: 500px;
    padding-bottom: 15px;
}


.line-number-text-area-container>* {
    padding-bottom: 10px;
}

.numbers {
    text-align: right;
    background: #333;
    padding-right: 5px;
    padding-top: 4px;
    height: 100%;
    font-size: 14px;
    line-height: normal;
    font-family: sans-serif;
}

.text-area-container {
    flex: 1;
}

.converter-text {
    font-family: sans-serif;
    line-height: normal;
    font-size: 14px;
    border: 0;
    background: transparent;
    color: #fff;
    min-width: 90%;
    outline: none;
    resize: none;
    padding-right: 10px;
    padding-bottom: 20px;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}